Introduction:

In [1]:
import pandas as pd

In [71]:
df_sales = pd.read_csv('https://raw.githubusercontent.com/Giovanni1085/UvA_CSDA_2021/main/assignments/data/sales.csv')
df_artworks = pd.read_csv('https://raw.githubusercontent.com/Giovanni1085/UvA_CSDA_2021/main/assignments/data/tokens.csv')

In [3]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13485 entries, 0 to 13484
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      13485 non-null  object
 1   tokenId        13485 non-null  int64
 2   buyer          13485 non-null  object
 3   seller         13485 non-null  object
 4   eth            13485 non-null  float64
 5   rate           13480 non-null  float64
 6   usd            13480 non-null  float64
 7   contract       13485 non-null  object
 8   transactionId  13485 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 948.3+ KB

In [10]:
df_sales.head(10)

,timestamp,tokenId,buyer,seller,eth,rate,usd,contract,transactionId
0,2018-04-05T23:50:12Z,1,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0.46,381.36,175.4256,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xf1097e3617632e43b7c0a46ffeb4d741d0a67b25fb06...
1,2020-01-18T16:16:42Z,1,0x54d7f921785ebe46010d83c73712e80dfaff1e81,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,75.00,174.00,13050.0000,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xf8d3b8be83601d0351c72d2093738a4a25c70b49503b...
2,2021-01-05T00:47:24Z,1,0xd0c0650cd08acd4e9553c48c60c94be04fecce43,0x54d7f921785ebe46010d83c73712e80dfaff1e81,100.00,1103.19,110319.0000,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xc917fe7d09a750c09fd8f467d60e5adac4bbd3a5e5ea...
3,2018-04-05T23:59:06Z,2,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0.46,381.36,175.4256,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x9e9befc01fe11425ae8a2b903c8f8e1ec9777157d3e9...
4,2018-09-05T21:06:04Z,2,0x6853a596d6d7264d3622546da3b891b6fe17eb82,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,1.85,228.27,422.2995,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x6425dbd16550508c7c0ca320a1e6d7cb2ba2d3b2aea5...
5,2018-04-06T00:17:36Z,3,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0.46,370.35,170.3610,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x66e9ac3a5d651123398f274ffecfccbbb86f04748c70...
6,2020-06-09T12:41:10Z,3,0xf52393e120f918ffba50410b90a29b1f8250c879,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,20.00,244.00,4880.0000,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x77630ba31059e91f6e7a571ce9163e3617aee5d1b89a...
7,2021-01-06T21:15:49Z,3,0x8a0a834077a8ecea4983e2288f81afb2c6764116,0xf52393e120f918ffba50410b90a29b1f8250c879,80.00,1210.59,96847.2000,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xe8c54fac197a3c3d4c23fd2d27d084567eb21f7aaa72...
8,2018-04-06T02:24:16Z,4,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0.46,370.35,170.3610,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x0f4efbc5a8350e36e8ed03225f643b32544254add8c6...
9,2018-04-30T19:30:51Z,4,0xe923d07f58239356d4b1db37e03a22141f4f37c6,0xbc74c3adc2aa6a85bda3eca5b0e235ca08532772,1.81,670.04,1212.7724,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x75fd9db2790b3ba99035c616d55bdeaa12cf62606004...

In [45]:
df_artworks.head(3)

,tokenId,name,description,tags,image,media,type,size,dimensions,creator,owner,timestamp,contract,transactionId
0,1,AI Generated Nude Portrait #1,"Robbie Barrat, AI Generated, 2018",Nude Portrait AI Painting Portrait Generat...,https://ipfs.pixura.io/ipfs/QmX4ECCmA4HZSPxzsg...,NaN,NaN,NaN,NaN,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0xd0c0650cd08acd4e9553c48c60c94be04fecce43,2018-04-05T23:20:48Z,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xf3e68d3a53b1bb3a2cdb4aa3a6c871626e6dcf7b8df1...
1,2,AI Generated Nude Portrait #2,"Robbie Barrat, AI Generated, 2018",Nude Portrait AI Painting Portrait Generat...,https://ipfs.pixura.io/ipfs/QmRe3WvttmMR7mELga...,NaN,NaN,NaN,NaN,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0x6853a596d6d7264d3622546da3b891b6fe17eb82,2018-04-05T23:49:27Z,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0x8fb08cb45e1a0032dccd0951812dba7a8ebe5b255bdd...
2,3,AI Generated Nude Portrait #3,"Robbie Barrat, AI Generated, 2018",Nude Portrait AI Painting Portrait Generat...,https://ipfs.pixura.io/ipfs/QmYCyvs9JwKTAChpri...,NaN,NaN,NaN,NaN,0x860c4604fe1125ea43f81e613e7afb2aa49546aa,0x8a0a834077a8ecea4983e2288f81afb2c6764116,2018-04-06T00:07:31Z,0x41a322b28d0ff354040e2cbc676f0320d8c8850d,0xdf2952f467fddc9f81f6beada8dc2bed1ae4e497c0d2...

In [102]:
sales=pd.DataFrame({
    "Token Id": df_sales['tokenId'],
    "Timestamp": df_sales['timestamp'],
    "Etherium": df_sales['eth'],
    "Rate": df_sales['rate']
})

In [103]:
artworks=pd.DataFrame({
    "Token Id": df_artworks['tokenId'],
    "Name": df_artworks['name'],
    "Description": df_artworks['description'],
})

In [104]:
df_merger = pd.merge(sales,artworks,on='Token Id')

##### display(df_merger)

In [106]:
df_merger.rate.hist(bin=40)

AttributeError: 'DataFrame' object has no attribute 'rate'